---
http_interactions:
- request:
    method: post
    uri: https://amsprd0710.outlook.com/EWS/Exchange.asmx
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <soap:Body>
            <CreateItem xmlns="http://schemas.microsoft.com/exchange/services/2006/messages" SendMeetingInvitations="SendToAllAndSaveCopy">
              <SavedItemFolderId>
                <t:FolderId Id="AAAkAG91dGxvb2tfNTY3NDUzNUY3QTY0QjIwMUBvdXRsb29rLmNvbQAuAAAAAAC11EXZT+3TSZbZG9cMT+XoAQAdX+/tTQhGSJ2g6HFKPliuAAAAAAENAAA="/>
              </SavedItemFolderId>
              <Items>
                <t:CalendarItem>
          <t:Subject>Test Calendar Item</t:Subject>
          <t:Body BodyType="Text">Body line 1.
        Body line 2.</t:Body>
          <t:Categories>
            <t:String>Green category</t:String>
          </t:Categories>
          <t:Start>2020-04-07T11:24:50+02:00</t:Start>
          <t:End>2020-04-07T11:54:50+02:00</t:End>
        </t:CalendarItem>
              </Items>
            </CreateItem>
          </soap:Body>
        </soap:Envelope>
    headers:
      Soapaction:
      - http://schemas.microsoft.com/exchange/services/2006/messages/CreateItem
      Content-Type:
      - text/xml; charset=utf-8
      Authorization:
      - Basic bWljaGFlbEBsaXR0b24uc2U6MTI4MHNhaWw=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Calculatedfetarget:
      - PR3P189CU001.internal.outlook.com
      X-Backendhttpstatus:
      - '200'
      - '200'
      X-Feproxyinfo:
      - PR3P189CA0010.EURP189.PROD.OUTLOOK.COM
      X-Calculatedbetarget:
      - AM7PR05MB6693.eurprd05.prod.outlook.com
      X-Rum-Validated:
      - '1'
      X-Ewshandler:
      - CreateItem
      X-Besku:
      - WCS6
      X-Diaginfo:
      - AM7PR05MB6693
      X-Beserver:
      - AM7PR05MB6693
      X-Proxy-Routingcorrectness:
      - '1'
      X-Proxy-Backendserverstatus:
      - '200'
      X-Feserver:
      - HE1PR0101CA0021
      - PR3P189CA0010
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Header><h:ServerVersionInfo
        MajorVersion="15" MinorVersion="20" MajorBuildNumber="2878" MinorBuildNumber="21"
        xmlns:h="http://schemas.microsoft.com/exchange/services/2006/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/></s:Header><s:Body><m:CreateItemResponse
        xmlns:m="http://schemas.microsoft.com/exchange/services/2006/messages" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types"><m:ResponseMessages><m:CreateItemResponseMessage
        ResponseClass="Success"><m:ResponseCode>NoError</m:ResponseCode><m:Items><t:CalendarItem><t:ItemId
        Id="AAAkAG91dGxvb2tfNTY3NDUzNUY3QTY0QjIwMUBvdXRsb29rLmNvbQBGAAAAAAC11EXZT+3TSZbZG9cMT+XoBwAdX+/tTQhGSJ2g6HFKPliuAAAAAAENAAAdX+/tTQhGSJ2g6HFKPliuAAM8LS1lAAA="
        ChangeKey="DwAAABYAAAAdX+/tTQhGSJ2g6HFKPliuAAM8U27m"/></t:CalendarItem></m:Items></m:CreateItemResponseMessage></m:ResponseMessages></m:CreateItemResponse></s:Body></s:Envelope>
  recorded_at: Tue, 07 Apr 2020 09:24:50 GMT
- request:
    method: post
    uri: https://amsprd0710.outlook.com/EWS/Exchange.asmx
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <soap:Body>
            <CreateAttachment xmlns="http://schemas.microsoft.com/exchange/services/2006/messages">
              <ParentItemId Id="AAAkAG91dGxvb2tfNTY3NDUzNUY3QTY0QjIwMUBvdXRsb29rLmNvbQBGAAAAAAC11EXZT+3TSZbZG9cMT+XoBwAdX+/tTQhGSJ2g6HFKPliuAAAAAAENAAAdX+/tTQhGSJ2g6HFKPliuAAM8LS1lAAA="/>
              <Attachments>
                <t:FileAttachment>
          <t:Name>test.txt</t:Name>
          <t:ContentType>text/plain</t:ContentType>
          <t:Content>VGVzdCBDb250ZW50
        </t:Content>
        </t:FileAttachment>
              </Attachments>
            </CreateAttachment>
          </soap:Body>
        </soap:Envelope>
    headers:
      Soapaction:
      - http://schemas.microsoft.com/exchange/services/2006/messages/CreateAttachment
      Content-Type:
      - text/xml; charset=utf-8
      Authorization:
      - Basic bWljaGFlbEBsaXR0b24uc2U6MTI4MHNhaWw=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content[...]
- request:
    method: post
    uri: https://amsprd0710.outlook.com/EWS/Exchange.asmx
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
          <soap:Body>
            <GetItem xmlns="http://schemas.microsoft.com/exchange/services/2006/messages" xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types">
              <ItemShape>
                <t:BaseShape>AllProperties</t:BaseShape>
              </ItemShape>
              <ItemIds>
                <t:ItemId Id="AAAkAG91dGxvb2tfNTY3NDUzNUY3QTY0QjIwMUBvdXRsb29rLmNvbQBGAAAAAAC11EXZT+3TSZbZG9cMT+XoBwAdX+/tTQhGSJ2g6HFKPliuAAAAAAENAAAdX+/tTQhGSJ2g6HFKPliuAAM8LS1lAAA="/>
              </ItemIds>
            </GetItem>
          </soap:Body>
        </soap:Envelope>
    headers:
      Soapaction:
      - http://schemas.microsoft.com/exchange/services/2006/messages/GetItem
      Content-Type:
      - text/xml; charset=utf-8
      Authorization:
      - Basic bWljaGFlbEBsaXR0b24uc2U6MTI4MHNhaWw=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Calculatedfetarget:
      - PR3P192CU002.internal.outlook.com
      X-Backendhttpstatus:
      - '200'
      - '200'
      X-Feproxyinfo:
      - PR3P192CA0052.EURP192.PROD.OUTLOOK.COM
      X-Calculatedbetarget:
      - AM7PR05MB6693.eurprd05.prod.outlook.com
      X-Rum-Validated:
      - '1'
      X-Ewshandler:
      - GetItem
      X-Besku:
      - WCS6
      X-Diaginfo:
      - AM7PR05MB6693
      X-Beserver:
      - AM7PR05MB6693
      X-Proxy-Routingcorrectness:
      - '1'
      X-Proxy-Backendserverstatus:
      - '200'
      X-Feserver:
      - HE1PR0101CA0019
      - PR3P192CA0052
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?><s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Header><h:ServerVersionInfo MajorVersion="15" MinorVersion="20" MajorBuildNumber="2878" MinorBuildNumber="21" xmlns:h="http://schemas.microsoft.com/exchange/services/2006/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/></s:Header><s:Body><m:GetItemResponse xmlns:m="http://schemas.microsoft.com/exchange/services/2006/messages" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types"><m:ResponseMessages><m:GetItemResponseMessage ResponseClass="Success"><m:ResponseCode>NoError</m:ResponseCode><m:Items><t:CalendarItem><t:ItemId Id="AAAkAG91dGxvb2tfNTY3NDUzNUY3QTY0QjIwMUBvdXRsb29rLmNvbQBGAAAAAAC11EXZT+3TSZbZG9cMT+XoBwAdX+/tTQhGSJ2g6HFKPliuAAAAAAENAAAdX+/tTQhGSJ2g6HFKPliuAAM8LS1lAAA=" ChangeKey="DwAAABYAAAAdX+/tTQhGSJ2g6HFKPliuAAM8U27p"/><t:ParentFolderId Id="AAAkAG91dGxvb2tfNTY3NDUzNUY3QTY0QjIwMUBvdXRsb29rLmNvbQAuAAAAAAC11EXZT+3TSZbZG9cMT+XoAQAdX+/tTQhGSJ2g6HFKPliuAAAAAAENAAA=" ChangeKey="AQAAAA=="/><t:ItemClass>IPM.Appointment</t:ItemClass><t:Subject>Test Calendar Item</t:Subject><t:Sensitivity>Normal</t:Sensitivity><t:Body BodyType="Text">Body line 1.
        Body line 2.</t:Body><t:Attachments><t:FileAttachment><t:AttachmentId Id="AAAkAG91dGxvb2tfNTY3NDUzNUY3QTY0QjIwMUBvdXRsb29rLmNvbQBGAAAAAAC11EXZT+3TSZbZG9cMT+XoBwAdX+/tTQhGSJ2g6HFKPliuAAAAAAENAAAdX+/tTQhGSJ2g6HFKPliuAAM8LS1lAAABEgAQAPJ2jpaq+uBIu1XDB824Ork="/><t:Name>test.txt</t:Name><t:ContentType>text/plain</t:ContentType></t:FileAttachment></t:Attachments><t:DateTimeReceived>2020-04-07T09:24:50Z</t:DateTimeReceived><t:Size>4252</t:Size><t:Categories><t:String>Green category</t:String></t:Categories><t:Importance>Normal</t:Importance><t:IsSubmitted>false</t:IsSubmitted><t:IsDraft>false</t:IsDraft><t:IsFromMe>false</t:IsFromMe><t:IsResend>false</t:IsResend><t:IsUnmodified>false</t:IsUnmodified><t:DateTimeSent>2020-04-07T09:24:50Z</t:DateTimeSent><t:DateTimeCreated>2020-04-07T09:24:50Z</t:DateTimeCreated><t:ResponseObjects><t:CancelCalendarItem/><t:ForwardItem/></t:ResponseObjects><t:ReminderDueBy>2020-04-07T09:24:50Z</t:ReminderDueBy><t:ReminderIsSet>true</t:ReminderIsSet><t:ReminderMinutesBeforeStart>15</t:ReminderMinutesBeforeStart><t:DisplayCc/><t:DisplayTo/><t:HasAttachments>true</t:HasAttachments><t:Culture>en-US</t:Culture><t:Start>2020-04-07T09:24:50Z</t:Start><t:End>2020-04-07T09:54:50Z</t:End><t:IsAllDayEvent>false</t:IsAllDayEvent><t:LegacyFreeBusyStatus>Busy</t:LegacyFreeBusyStatus><t:IsMeeting>true</t:IsMeeting><t:IsCancelled>false</t:IsCancelled><t:IsRecurring>false</t:IsRecurring><t:MeetingRequestWasSent>false</t:MeetingRequestWasSent><t:IsResponseRequested>true</t:IsResponseRequested><t:CalendarItemType>Single</t:CalendarItemType><t:MyResponseType>Organizer</t:MyResponseType><t:Organizer><t:Mailbox><t:Name>Michael Litton</t:Name><t:EmailAddress>outlook_5674535F7A64B201@outlook.com</t:EmailAddress><t:RoutingType>SMTP</t:RoutingType></t:Mailbox></t:Organizer><t:Duration>PT30M</t:Duration><t:TimeZone>(UTC+00:00) Monrovia, Reykjavik</t:TimeZone><t:AppointmentSequenceNumber>0</t:AppointmentSequenceNumber><t:AppointmentState>1</t:AppointmentState><t:IsOnlineMeeting>false</t:IsOnlineMeeting></t:CalendarItem></m:Items></m:GetItemResponseMessage></m:ResponseMessages></m:GetItemResponse></s:Body></s:Envelope>
  recorded_at: Tue, 07 Apr 2020 09:24:51 GMT
- request:
    method: post
    uri: https://amsprd0710.outlook.com/EWS/Exchange.asmx
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
          <soap:Body>
            <GetAttachment xmlns="http://schemas.microsoft.com/exchange/services/2006/messages" xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types">
              <AttachmentShape>
                <t:BaseShape>AllProperties</t:BaseShape>
              </AttachmentShape>
              <AttachmentIds>
                <t:AttachmentId Id="AAAkAG91dGxvb2tfNTY3NDUzNUY3QTY0QjIwMUBvdXRsb29rLmNvbQBGAAAAAAC11EXZT+3TSZbZG9cMT+XoBwAdX+/tTQhGSJ2g6HFKPliuAAAAAAENAAAdX+/tTQhGSJ2g6HFKPliuAAM8LS1lAAABEgAQAPJ2jpaq+uBIu1XDB824Ork="/>
              </AttachmentIds>
            </GetAttachment>
          </soap:Body>
        </soap:Envelope>
    headers:
      Soapaction:
      - http://schemas.microsoft.com/exchange/services/2006/messages/GetAttachment
      Content-Type:
      - text/xml; charset=utf-8
     [...]
- request:
    method: post
    uri: https://amsprd0710.outlook.com/EWS/Exchange.asmx
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <soap:Body>
            <DeleteAttachment xmlns="http://schemas.microsoft.com/exchange/services/2006/messages">
              <AttachmentIds>
                <t:AttachmentId Id="AAAkAG91dGxvb2tfNTY3NDUzNUY3QTY0QjIwMUBvdXRsb29rLmNvbQBGAAAAAAC11EXZT+3TSZbZG9cMT+XoBwAdX+/tTQhGSJ2g6HFKPliuAAAAAAENAAAdX+/tTQhGSJ2g6HFKPliuAAM8LS1lAAABEgAQAPJ2jpaq+uBIu1XDB824Ork="/>
              </AttachmentIds>
            </DeleteAttachment>
          </soap:Body>
        </soap:Envelope>
    headers:
      Soapaction:
      - http://schemas.microsoft.com/e[...]
