---
http_interactions:
- request:
    method: post
    uri: https://amsprd0710.outlook.com/EWS/Exchange.asmx
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
          <soap:Body>
            <FindItem xmlns="http://schemas.microsoft.com/exchange/services/2006/messages" xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types" Traversal="Shallow">
              <ItemShape>
                <t:BaseShape>AllProperties</t:BaseShape>
              </ItemShape>
              <ParentFolderIds>
                <t:FolderId Id="AAAkAG91dGxvb2tfNTY3NDUzNUY3QTY0QjIwMUBvdXRsb29rLmNvbQAuAAAAAAC11EXZT+3TSZbZG9cMT+XoAQAdX+/tTQhGSJ2g6HFKPliuAAAAAAENAAA="/>
              </ParentFolderIds>
            </FindItem>
          </soap:Body>
        </soap:Envelope>
    headers:
      Soapaction:
      - http://schemas.microsoft.com/exchange/services/2006/messages/FindItem
      Content-Type:
      - text/xml; charset=utf-8
      Authorization:
      - Basic bWljaGFlbEBsaXR0b24uc2U6MTI4MHNhaWw=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Calculatedfetarget:
      - AM7PR04CU001.internal.outlook.com
      X-Backendhttpstatus:
      - '200'
      - '200'
      X-Feproxyinfo:
      - AM7PR04CA0009.EURPRD04.PROD.OUTLOOK.COM
      X-Calculatedbetarget:
      - AM7PR05MB6693.eurprd05.prod.outlook.com
      X-Rum-Validated:
      - '1'
      X-Ewshandler:
      - FindItem
      X-Besku:
      - WCS6
      X-Diaginfo:
      - AM7PR05MB6693
      X-Beserver:
      - AM7PR05MB6693
      X-Proxy-Routingcorrectness:
      - '1'
      X-Proxy-Backendserverstatus:
      - '200'
      X-Feserver:
      - AM7PR04CA0009
      - HE1PR07CA0022
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Header><h:ServerVersionInfo
        MajorVersion="15" MinorVersion="20" MajorBuildNumber="2878" MinorBuildNumber="21"
        xmlns:h="http://schemas.microsoft.com/exchange/services/2006/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/></s:Header><s:Body><m:FindItemResponse
        xmlns:m="http://schemas.microsoft.com/exchange/services/2006/messages" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types"><m:ResponseMessages><m:FindItemResponseMessage
        ResponseClass="Success"><m:ResponseCode>NoError</m:ResponseCode><m:RootFolder
        TotalItemsInView="2" IncludesLastItemInRange="true"><t:Items><t:CalendarItem><t:ItemId
        Id="AAAkAG91dGxvb2tfNTY3NDUzNUY3QTY0QjIwMUBvdXRsb29rLmNvbQBGAAAAAAC11EXZT+3TSZbZG9cMT+XoBwAdX+/tTQhGSJ2g6HFKPliuAAAAAAENAAAdX+/tTQhGSJ2g6HFKPliuAAM8LS1mAAA="
        ChangeKey="DwAAABYAAAAdX+/tTQhGSJ2g6HFKPliuAAM8U2/J"/><t:ParentFolderId Id="AAAkAG91dGxvb2tfNTY3NDUzNUY3QTY0QjIwMUBvdXRsb29rLmNvbQAuAAAAAAC11EXZT+3TSZbZG9cMT+XoAQAdX+/tTQhGSJ2g6HFKPliuAAAAAAENAAA="
        ChangeKey="AQAAAA=="/><t:ItemClass>IPM.Appointment</t:ItemClass><t:Subject>Great
        event</t:Subject><t:Sensitivity>Normal</t:Sensitivity><t:DateTimeReceived>2020-04-07T10:03:20Z</t:DateTimeReceived><t:Size>8350</t:Size><t:Importance>Normal</t:Importance><t:IsSubmitted>false</t:IsSubmitted><t:IsDraft>false</t:IsDraft><t:IsFromMe>false</t:IsFromMe><t:IsResend>false</t:IsResend><t:IsUnmodified>false</t:IsUnmodified><t:DateTimeSent>2020-04-07T10:03:20Z</t:DateTimeSent><t:DateTimeCreated>2020-04-07T10:03:20Z</t:DateTimeCreated><t:ReminderDueBy>2016-01-07T16:00:00Z</t:ReminderDueBy><t:ReminderIsSet>true</t:ReminderIsSet><t:ReminderMinutesBeforeStart>15</t:ReminderMinutesBeforeStart><t:DisplayCc/><t:DisplayTo/><t:HasAttachments>false</t:HasAttachments><t:Culture>en-GB</t:Culture><t:Start>2016-01-07T16:00:00Z</t:Start><t:End>2016-01-07T16:30:00Z</t:End><t:IsAllDayEvent>false</t:IsAllDayEvent><t:LegacyFreeBusyStatus>Busy</t:LegacyFreeBusyStatus><t:Location/><t:IsMeeting>false</t:IsMeeting><t:IsCancelled>false</t:IsCancelled><t:IsRecurring>false</t:IsRecurring><t:MeetingRequestWasSent>false</t:MeetingRequestWasSent><t:IsResponseRequested>true</t:IsResponseRequested><t:CalendarItemType>Single</t:CalendarItemType><t:MyResponseType>Organizer</t:MyResponseType><t:Organizer><t:Mailbox><t:Name>Michael
        Litton</t:Name><t:EmailAddress>/O=FIRST ORGANIZATION/OU=EXCHANGE ADMINISTRATIVE
        GROUP(FYDIBOHF23SPDLT)/CN=RECIPIENTS/CN=0003BFFDCB94006D</t:EmailAddress><t:RoutingType>EX</t:RoutingType></t:Mailbox></t:Organizer><t:Duration>PT30M</t:Duration><t:TimeZone>(UTC+01:00)
        Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</t:TimeZone><t:AppointmentSequenceNumber>0</t:AppointmentSequenceNumber><t:AppointmentState>0</t:AppointmentState><t:IsOnlineMeeting>false</t:IsOnlineMeeting></t:CalendarItem><t:CalendarItem><t:ItemId
        Id="AAAkAG91dGxvb2tfNTY3NDUzNUY3QTY0QjIwMUBvdXRsb29rLmNvbQBGAAAAAAC11EXZT+3TSZbZG9cMT+XoBwAdX+/tTQhGSJ2g6HFKPliuAAAAAAENAAAdX+/tTQhGSJ2g6HFKPliuAAM8LS1bAAA="
        ChangeKey="DwAAABYAAAAdX+/tTQhGSJ2g6HFKPliuAAM8U2WY"/><t:ParentFolderId Id="AAAkAG91dGxvb2tfNTY3NDUzNUY3QTY0QjIwMUBvdXRsb29rLmNvbQAuAAAAAAC11EXZT+3TSZbZG9cMT+XoAQAdX+/tTQhGSJ2g6HFKPliuAAAAAAENAAA="
        ChangeKey="AQAAAA=="/><t:ItemClass>IPM.Appointment</[...]
- request:
    method: post
    uri: https://amsprd0710.outlook.com/EWS/Exchange.asmx
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <soap:Body>
            <CreateItem xmlns="http://schemas.microsoft.com/exchange/services/2006/messages" SendMeetingInvitations="SendToAllAndSaveCopy">
              <SavedItemFolderId>
                <t:FolderId Id="AAAkAG91dGxvb2tfNTY3NDUzNUY3QTY0QjIwMUBvdXRsb29rLmNvbQAuAAAAAAC11EXZT+3TSZbZG9cMT+XoAQAdX+/tTQhGSJ2g6HFKPliuAAAAAAENAAA="/>
              </SavedItemFolderId>
              <Items>
                <t:CalendarItem>
          <t:Subject>Test Calendar Item</t:Subject>
          <t:Body BodyType="Text">Body line 1.
        Body line 2.</t:Body>
          <t:Categories>
            <t:String>Green category</t:String>
          </t:Categories>
          <t:Start>2020-04-07T12:24:37+02:00</t:Start>
          <t:End>2020-04-07T12:54:37+02:00</t:End>
        </t:CalendarItem>
              </Items>
            </CreateItem>
          </soap:Body>
        </soap:Envelope>
    headers:
      Soapaction:
      - http://schemas.microsoft.com/exchange/services/2006/messages/CreateItem
      Content-Type:
      - text/xml; charset=utf-8
      Authorization:
      - Basic bWljaGFlbEBsaXR0b24uc[...]
- request:
    method: post
    uri: https://amsprd0710.outlook.com/EWS/Exchange.asmx
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
          <soap:Body>
            <GetItem xmlns="http://schemas.microsoft.com/exchange/services/2006/messages" xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types">
              <ItemShape>
                <t:BaseShape>AllProperties</t:BaseShape>
              </ItemShape>
              <ItemIds>
                <t:ItemId Id="AAAkAG91dGxvb2tfNTY3NDUzNUY3QTY0QjIwMUBvdXRsb29rLmNvbQBGAAAAAAC11EXZT+3TSZbZG9cMT+XoBwAdX+/tTQhGSJ2g6HFKPliuAAAAAAENAAAdX+/tTQhGSJ2g6HFKPliuAAM8LS1rAAA="/>
              </ItemIds>
            </GetItem>
          </soap:Body>
        </soap:Envelope>
    headers:
      Soapaction:
      - http://schemas.microsoft.com/exchange/services/2006/messages/GetItem
      Content-Type:
      - text/xml; charset=utf-8
      Authorization:
      - Basic bWljaGFlbEBsaXR0b24uc2U6MTI4MHNhaWw=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Calculatedfetarget:
      - AM6P194CU001.internal.outlook.com
      X-Backendhttpstatus:
      - '200'
      - '200'
      X-Feproxyinfo:
      - AM6P194CA0005.EURP194.PROD.OUTLOOK.COM
      X-Calculatedbetarget:
      - AM7PR05MB6693.eurprd05.prod.outlook.com
      X-Rum-Validated:
      - '1'
      X-Ewshandler:
      - GetItem
      X-Besku:
      - WCS6
      X-Diaginfo:
      - AM7PR05MB6693
      X-Beserver:
      - AM7PR05MB6693
      X-Proxy-Routingcorrectness:
      - '1'
      X-Proxy-Backendserverstatus:
      - '200'
      X-Feserver:
      - AM6P194CA0005
      - HE1PR07CA0024
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?><s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Header><h:ServerVersionInfo MajorVersion="15" MinorVersion="20" MajorBuildNumber="2878" MinorBuildNumber="21" xmlns:h="http://schemas.microsoft.com/exchange/services/2006/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/></s:Header><s:Body><m:GetItemResponse xmlns:m="http://schemas.microsoft.com/exchange/services/2006/messages" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types"><m:ResponseMessages><m:GetItemResponseMessage ResponseClass="Success"><m:ResponseCode>NoError</m:ResponseCode><m:Items><t:CalendarItem><t:ItemId Id="AAAkAG91dGxvb2tfNTY3NDUzNUY3QTY0QjIwMUBvdXRsb29rLmNvbQBGAAAAAAC11EXZT+3TSZbZG9cMT+XoBwAdX+/tTQhGSJ2g6HFKPliuAAAAAAENAAAdX+/tTQhGSJ2g6HFKPliuAAM8LS1rAAA=" ChangeKey="DwAAABYAAAAdX+/tTQhGSJ2g6HFKPliuAAM8U3Am"/><t:ParentFolderId Id="AAAkAG91dGxvb2tfNTY3NDUzNUY3QTY0QjIwMUBvdXRsb29rLmNvbQAuAAAAAAC11EXZT+3TSZbZG9cMT+XoAQAdX+/tTQhGSJ2g6HFKPliuAAAAAAENAAA=" ChangeKey="AQAAAA=="/><t:ItemClass>IPM.Appointment</t:ItemClass><t:Subject>Test Calendar Item</t:Subject><t:Sensitivity>Normal</t:Sensitivity><t:Body BodyType="Text">Body line 1.
        Body line 2.</t:Body><t:DateTimeReceived>2020-04-07T10:24:38Z</t:DateTimeReceived><t:Size>5250</t:Size><t:Categories><t:String>Green category</t:String></t:Categories><t:Importance>Normal</t:Importance><t:IsSubmitted>false</t:IsSubmitted><t:IsDraft>false</t:IsDraft><t:IsFromMe>false</t:IsFromMe><t:IsResend>false</t:IsResend><t:IsUnmodified>false</t:IsUnmodified><t:DateTimeSent>2020-04-07T10:24:38Z</t:DateTimeSent><t:DateTimeCreated>2020-04-07T10:24:38Z</t:DateTimeCreated><t:ResponseObjects><t:CancelCalendarItem/><t:ForwardItem/></t:ResponseObjects><t:ReminderDueBy>2020-04-07T10:24:37Z</t:ReminderDueBy><t:ReminderIsSet>true</t:ReminderIsSet><t:ReminderMinutesBeforeStart>15</t:ReminderMinutesBeforeStart><t:DisplayCc/><t:DisplayTo/><t:HasAttachments>false</t:HasAttachments><t:Culture>en-US</t:Culture><t:Start>2020-04-07T10:24:37Z</t:Start><t:End>2020-04-07T10:54:37Z</t:End><t:IsAllDayEvent>false</t:IsAllDayEvent><t:LegacyFreeBusyStatus>Busy</t:LegacyFreeBusyStatus><t:IsMeeting>true</t:IsMeeting><t:IsCancelled>false</t:IsCancelled><t:IsRecurring>false</t:IsRecurring><t:MeetingRequestWasSent>false</t:MeetingRequestWasSent><t:IsResponseRequested>true</t:IsResponseRequested><t:CalendarItemType>Single</t:CalendarItemType><t:MyResponseType>Organizer</t:MyResponseType><t:Organizer><t:Mailbox><t:Name>Michael Litton</t:Name><t:EmailAddress>outlook_5674535F7A64B201@outlook.com</t:EmailAddress><t:RoutingType>SMTP</t:RoutingType></t:Mailbox></t:Organizer><t:Duration>PT30M</t:Duration><t:TimeZone>(UTC+00:00) Monrovia, Reykjavik</t:TimeZone><t:AppointmentSequenceNumber>0</t:AppointmentSequenceNumber><t:AppointmentState>1</t:AppointmentState><t:IsOnlineMeeting>false</t:IsOnlineMeeting></t:CalendarItem></m:Items></m:GetItemResponseMessage></m:ResponseMessages></m:GetItemResponse></s:Body></s:Envelope>
  recorded_at: Tue, 07 Apr 2020 10:24:38 GMT
[...]
- request:
    method: post
    uri: https://amsprd0710.outlook.com/EWS/Exchange.asmx
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <soap:Body>
            <UpdateItem xmlns="http://schemas.microsoft.com/exchange/services/2006/messages" ConflictResolution="AlwaysOverwrite" SendMeetingInvitationsOrCancellations="SendToAllAndSaveCopy">
              <ItemChanges>
                <t:ItemChange>
          <t:ItemId Id="AAAkAG91dGxvb2tfNTY3NDUzNUY3QTY0QjIwMUBvdXRsb29rLmNvbQBGAAAAAAC11EXZT+3TSZbZG9cMT+XoBwAdX+/tTQhGSJ2g6HFKPliuAAAAAAENAAAdX+/tTQhGSJ2g6HFKPliuAAM8LS1rAAA=" ChangeKey="DwAAABYAAAAdX+/tTQhGSJ2g6HFKPliuAAM8U3Am"/>
          <t:Updates>
            <t:SetItemField>
              <t:FieldURI FieldURI="item:Subject"/>
              <t:CalendarItem>
                <t:Subject>Test Calendar Item Updated</t:Subject>
              </t:CalendarItem>
            </t:SetItemField>
          </t:Updates>
        </t:ItemChange>
              </ItemChanges>
            </UpdateItem>
          </soap:Body>
        </soap:Envelope>
    headers:
      Soapaction:
      - http://schemas.microsoft.com/exchange/services/2006/messages/UpdateItem
      Content-Type:
      - text/xml; charset=utf-8
  [...]
