---
http_interactions:
- request:
    method: post
    uri: https://amsprd0710.outlook.com/EWS/Exchange.asmx
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types" xmlns:m="http://schemas.microsoft.com/exchange/services/2006/messages">
          <soap:Body>
            <m:GetUserAvailabilityRequest>
              <t:TimeZone>
                <t:Bias>0</t:Bias>
                <t:StandardTime>
                  <t:Bias>0</t:Bias>
                  <t:Time>04:00:00</t:Time>
                  <t:DayOrder>5</t:DayOrder>
                  <t:Month>10</t:Month>
                  <t:DayOfWeek>Sunday</t:DayOfWeek>
                </t:StandardTime>
                <t:DaylightTime>
                  <t:Bias>-60</t:Bias>
                  <t:Time>03:00:00</t:Time>
                  <t:DayOrder>5</t:DayOrder>
                  <t:Month>3</t:Month>
                  <t:DayOfWeek>Sunday</t:DayOfWeek>
                </t:DaylightTime>
              </t:TimeZone>
              <m:MailboxDataArray>
                <t:MailboxData>
                  <t:Email>
                    <t:Address>test.test@test.com</t:Address>
                  </t:Email>
                  <t:AttendeeType>Required</t:AttendeeType>
                  <t:ExcludeConflicts>false</t:ExcludeConflicts>
                </t:MailboxData>
              </m:MailboxDataArray>
              <t:FreeBusyViewOptions>
                <t:TimeWindow>
                  <t:StartTime>2020-04-07T00:00:01</t:StartTime>
                  <t:EndTime>2020-04-07T23:59:59</t:EndTime>
                </t:TimeWindow>
                <t:MergedFreeBusyIntervalInMinutes>60</t:MergedFreeBusyIntervalInMinutes>
                <t:RequestedView>DetailedMerged</t:RequestedView>
              </t:FreeBusyViewOptions>
            </m:GetUserAvailabilityRequest>
          </soap:Body>
        </soap:Envelope>
    headers:
      Soapaction:
      - http://schemas.microsoft.com/exchange/services/2006/messages/GetUserAvailability
      Content-Type:
      - text/xml; charset=utf-8
      Authorization:
      - Basic bWljaGFlbEBsaXR0b24uc2U6MTI4MHNhaWw=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Calculatedfetarget:
      - PR3P192CU002.internal.outlook.com
      X-Backendhttpstatus:
      - '200'
      - '200'
      X-Feproxyinfo:
      - PR3P192CA0038.EURP192.PROD.OUTLOOK.COM
      X-Calculatedbetarget:
      - AM7PR05MB6693.eurprd05.prod.outlook.com
      X-Rum-Validated:
      - '1'
      X-Ewshandler:
      - GetUserAvailability
      X-Besku:
      - WCS6
      X-Diaginfo:
      - AM7PR05MB6693
      X-Beserver:
      - AM7PR05MB6693
      X-Proxy-Routingcorrectness:
      - '1'
      X-Proxy-Backendserverstatus:
      - '200'
      X-Feserver:
      - HE1PR0101CA0022
      - PR3P192CA0038
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?><s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Header><h:ServerVersionInfo MajorVersion="15" MinorVersion="20" MajorBuildNumber="2878" MinorBuildNumber="21" xmlns:h="http://schemas.microsoft.com/exchange/services/2006/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/></s:Header><s:Body><GetUserAvailabilityResponse xmlns="http://schemas.microsoft.com/exchange/services/2006/messages" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><FreeBusyResponseArray><FreeBusyResponse><ResponseMessage ResponseClass="Error"><MessageText>Proxy web request failed. , inner exception: System.Net.WebException: The request failed with HTTP status 401: Unauthorized.&#xD;
           at System.Web.Services.Protocols.SoapHttpClientProtocol.ReadResponse(SoapClientMessage message, WebResponse response, Stream responseStream, Boolean asyncCall)&#xD;
           at System.Web.Services.Protocols.SoapHttpClientProtocol.EndInvoke(IAsyncResult asyncResult)&#xD;
           at Microsoft.Exchange.InfoWorker.Common.Availability.Proxy.Service.EndGetUserAvailability(IAsyncResult asyncResult)&#xD;
           at Microsoft.Exchange.InfoWorker.Common.Availability.FreeBusyApplication.EndProxyWebRequest(ProxyWebRequest proxyWebRequest, QueryList queryList, IService service, IAsyncResult asyncResult)&#xD;
           at Microsoft.Exchange.InfoWorker.Common.Availability.ProxyWebRequest.EndInvoke(IAsyncResult asyncResult)&#xD;
           at Microsoft.Exchange.InfoWorker.Common.Availability.AsyncWebRequest.EndInvokeWithErrorHandling()</MessageText><ResponseCode>ErrorProxyRequestProcessingFailed</ResponseCode><DescriptiveLinkKey>0</DescriptiveLinkKey><MessageXml><ExceptionType xmlns="http://schemas.microsoft.com/exchange/services/2006/errors">ProxyWebRequestProcessingException</ExceptionType><ExceptionCode xmlns="http://schemas.microsoft.com/exchange/services/2006/errors">5016</ExceptionCode><ExceptionServerName xmlns="http://schemas.microsoft.com/exchange/services/2006/errors">AM7PR05MB6693</ExceptionServerName><ExceptionMessage xmlns="http://schemas.microsoft.com/exchange/services/2006/errors">Proxy web request failed. , inner exception: The request failed with HTTP status 401: Unauthorized. LID: 43532</ExceptionMessage></MessageXml></ResponseMessage><FreeBusyView><FreeBusyViewType xmlns="http://schemas.microsoft.com/exchange/services/2006/types">None</FreeBusyViewType></FreeBusyView></FreeBusyResponse></FreeBusyResponseArray></GetUserAvailabilityResponse></s:Body></s:Envelope>
  recorded_at: Tue, 07 Apr 2020 09:24:55 GMT
recorded_with: VCR 3.0.3
