---
http_interactions:
- request:
    method: post
    uri: https://amsprd0710.outlook.com/EWS/Exchange.asmx
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
          <soap:Body>
            <ExpandDL xmlns="http://schemas.microsoft.com/exchange/services/2006/messages" xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types">
              <Mailbox>
                <t:EmailAddress>test@honeybadgerstudio.onmicrosoft.com</t:EmailAddress>
              </Mailbox>
            </ExpandDL>
          </soap:Body>
        </soap:Envelope>
    headers:
      Soapaction:
      - http://schemas.microsoft.com/exchange/services/2006/messages/ExpandDL
      Content-Type:
      - text/xml; charset=utf-8
      Authorization:
      - Basic bWlrZUBob25leWJhZGdlcnN0dWRpby5vbm1pY3Jvc29mdC5jb206MjAyMHRyaWFsIQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Calculatedfetarget:
      - DB8PR06CU002.internal.outlook.com
      X-Backendhttpstatus:
      - '200'
      - '200'
      X-Feproxyinfo:
      - DB8PR06CA0043.EURPRD06.PROD.OUTLOOK.COM
      X-Calculatedbetarget:
      - DB7PR05MB4986.eurprd05.prod.outlook.com
      X-Rum-Validated:
      - '1'
      X-Ewshandler:
      - ExpandDL
      X-Besku:
      - WCS5
      X-Diaginfo:
      - DB7PR05MB4986
      X-Beserver:
      - DB7PR05MB4986
      X-Proxy-Routingcorrectness:
      - '1'
      X-Proxy-Backendserverstatus:
      - '200'
      X-Feserver:
      - DB8PR06CA0043
      - HE1PR0902CA0002
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Header><h:ServerVersionInfo
        MajorVersion="15" MinorVersion="20" MajorBuildNumber="2878" MinorBuildNumber="20"
        xmlns:h="http://schemas.microsoft.com/exchange/services/2006/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/></s:Header><s:Body><m:ExpandDLResponse
        xmlns:m="http://schemas.microsoft.com/exchange/services/2006/messages" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types"><m:ResponseMessages><m:ExpandDLResponseMessage
        ResponseClass="Success"><m:ResponseCode>NoError</m:ResponseCode><m:DLExpansion
        TotalItemsInView="1" IncludesLastItemInRange="true"><t:Mailbox><t:Name>Michael
        Litton</t:Name><t:EmailAddress>FILTERED_EMAIL_ADDRESS</t:EmailAddress><t:RoutingType>SMTP</t:RoutingType><t:MailboxType>Mailbox</t:MailboxType></t:Mailbox></m:DLExpansion></m:ExpandDLResponseMessage></m:ResponseMessages></m:ExpandDLResponse></s:Body></s:Envelope>
  recorded_at: Tue, 07 Apr 2020 09:47:25 GMT
recorded_with: VCR 3.0.3
