---
http_interactions:
- request:
    method: post
    uri: https://amsprd0710.outlook.com/EWS/Exchange.asmx
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
          <soap:Body>
            <ResolveNames xmlns="http://schemas.microsoft.com/exchange/services/2006/messages" xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types" ReturnFullContactData="true">
              <UnresolvedEntry>test</UnresolvedEntry>
            </ResolveNames>
          </soap:Body>
        </soap:Envelope>
    headers:
      Soapaction:
      - http://schemas.microsoft.com/exchange/services/2006/messages/ResolveNames
      Content-Type:
      - text/xml; charset=utf-8
      Authorization:
      - Basic bWljaGFlbEBsaXR0b24uc2U6MTI4MHNhaWw=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Calculatedfetarget:
      - AM5PR0201CU001.internal.outlook.com
      X-Backendhttpstatus:
      - '200'
      - '200'
      X-Feproxyinfo:
      - AM5PR0201CA0006.EURPRD02.PROD.OUTLOOK.COM
      X-Calculatedbetarget:
      - AM7PR05MB6693.eurprd05.prod.outlook.com
      X-Rum-Validated:
      - '1'
      X-Ewshandler:
      - ResolveNames
      X-Besku:
      - WCS6
      X-Diaginfo:
      - AM7PR05MB6693
      X-Beserver:
      - AM7PR05MB6693
      X-Proxy-Routingcorrectness:
      - '1'
      X-Proxy-Backendserverstatus:
      - '200'
      X-Feserver:
      - AM5PR0201CA0006
      - HE1PR0101CA0015
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Header><h:ServerVersionInfo
        MajorVersion="15" MinorVersion="20" MajorBuildNumber="2878" MinorBuildNumber="21"
        xmlns:h="http://schemas.microsoft.com/exchange/services/2006/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/></s:Header><s:Body><m:ResolveNamesResponse
        xmlns:m="http://schemas.microsoft.com/exchange/services/2006/messages" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types"><m:ResponseMessages><m:ResolveNamesResponseMessage
        ResponseClass="Error"><m:MessageText>No results were found.</m:MessageText><m:ResponseCode>ErrorNameResolutionNoResults</m:ResponseCode><m:DescriptiveLinkKey>0</m:DescriptiveLinkKey></m:ResolveNamesResponseMessage></m:ResponseMessages></m:ResolveNamesResponse></s:Body></s:Envelope>
  recorded_at: Tue, 07 Apr 2020 09:24:56 GMT
recorded_with: VCR 3.0.3
