---
http_interactions:
- request:
    method: post
    uri: https://amsprd0710.outlook.com/EWS/Exchange.asmx
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
          <soap:Body>
            <ResolveNames xmlns="http://schemas.microsoft.com/exchange/services/2006/messages" xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types" ReturnFullContactData="true">
              <UnresolvedEntry>test</UnresolvedEntry>
            </ResolveNames>
          </soap:Body>
        </soap:Envelope>
    headers:
      Soapaction:
      - http://schemas.microsoft.com/exchange/services/2006/messages/ResolveNames
      Content-Type:
      - text/xml; charset=utf-8
      Authorization:
      - Basic bWlrZUBob25leWJhZGdlcnN0dWRpby5vbm1pY3Jvc29mdC5jb206MjAyMHRyaWFsIQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Calculatedfetarget:
      - CWLP123CU007.internal.outlook.com
      X-Backendhttpstatus:
      - '200'
      - '200'
      X-Feproxyinfo:
      - CWLP123CA0151.GBRP123.PROD.OUTLOOK.COM
      X-Calculatedbetarget:
      - DB7PR05MB4986.eurprd05.prod.outlook.com
      X-Rum-Validated:
      - '1'
      X-Ewshandler:
      - ResolveNames
      X-Besku:
      - WCS5
      X-Diaginfo:
      - DB7PR05MB4986
      X-Beserver:
      - DB7PR05MB4986
      X-Proxy-Routingcorrectness:
      - '1'
      X-Proxy-Backendserverstatus:
      - '200'
      X-Feserver:
      - CWLP123CA0151
      - HE1PR0902CA0015
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Header><h:ServerVersionInfo
        MajorVersion="15" MinorVersion="20" MajorBuildNumber="2878" MinorBuildNumber="20"
        xmlns:h="http://schemas.microsoft.com/exchange/services/2006/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/></s:Header><s:Body><m:ResolveNamesResponse
        xmlns:m="http://schemas.microsoft.com/exchange/services/2006/messages" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types"><m:ResponseMessages><m:ResolveNamesResponseMessage
        ResponseClass="Success"><m:ResponseCode>NoError</m:ResponseCode><m:ResolutionSet
        TotalItemsInView="1" IncludesLastItemInRange="true"><t:Resolution><t:Mailbox><t:Name>test_947c6511-6fcd-428b-a599-4708ece3a499</t:Name><t:EmailAddress>test@honeybadgerstudio.onmicrosoft.com</t:EmailAddress><t:RoutingType>SMTP</t:RoutingType><t:MailboxType>PublicDL</t:MailboxType></t:Mailbox><t:Contact><t:Culture>en-US</t:Culture><t:DisplayName>Test</t:DisplayName><t:EmailAddresses><t:Entry
        Key="EmailAddress1">SPO:SPO_46d896c7-0d2b-438d-8104-cf799d793bb2@SPO_043db638-9a35-496c-ad03-3a122c56f4d8</t:Entry><t:Entry
        Key="EmailAddress2">SMTP:test@honeybadgerstudio.onmicrosoft.com</t:Entry></t:EmailAddresses><t:AssistantName/><t:ContactSource>ActiveDirectory</t:ContactSource></t:Contact></t:Resolution></m:ResolutionSet></m:ResolveNamesResponseMessage></m:ResponseMessages></m:ResolveNamesResponse></s:Body></s:Envelope>
  recorded_at: Tue, 07 Apr 2020 09:47:23 GMT
recorded_with: VCR 3.0.3
